<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}LMS{% endblock %}</title>

    <!--TODO  replace later -->
    <!-- <link rel="icon" href="{{ url_for('static', filename='assets/favicon.ico') }}" type="image/x-icon"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="dist/css/adminlte.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">

        
    <!-- FOR JQUERY -->
    <script src="https://code.jquery.com/jquery-4.0.0.js" integrity="sha256-9fsHeVnKBvqh3FB2HYu7g2xseAZ5MlN6Kz/qnkASV8U=" crossorigin="anonymous"></script>
    
    <!-- FOR BOOTSTRAP -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

    <!-- FOR DATATABLES -->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.7/css/dataTables.dataTables.min.css">
    <script src="https://cdn.datatables.net/2.3.7/js/dataTables.min.js"></script>

    {% block head %}{% endblock %}
</head>

<body>
    <!-- SIDEBAR -->
    <aside id="sidebar" class="app-sidebar bg-dark text-white" style="min-height: 100vh; position: fixed; transition: 0.3s; overflow-x: hidden;">

    <!-- Brand -->
    <div class="p-3 fs-4 fw-bold">
        LMS
    </div>

    <!-- Menu -->
    <nav class="mt-2">
        <ul class="nav flex-column">

        <li class="nav-item">
            <a href="/dashboard" class="nav-link text-white">
            <i class="bi bi-speedometer2 me-2"></i>
            Dashboard
            </a>
        </li>

        <li class="nav-item">
            <a href="/books" class="nav-link text-white">
            <i class="bi bi-book me-2"></i>
            Books Management
            </a>
        </li>

        <li class="nav-item">
            <a href="/borrow" class="nav-link text-white">
            <i class="bi bi-people me-2"></i>
            Book Borrowing
            </a>
        </li>

        <li class="nav-item">
            <a href="/logs" class="nav-link text-white">
            <i class="bi bi-arrow-left-right me-2"></i>
            Audit Logs
            </a>
        </li>

        <li class="nav-item">
            <a href="/settings" class="nav-link text-white">
            <i class="bi bi-arrow-left-right me-2"></i>
            Settings
            </a>
        </li>

        </ul>
    </nav>

    </aside>

    <!-- Main Content -->
    <div class="content">
        {% block content %} {% endblock %}
    </div>

{% block extra_scripts %}
{% endblock %}

    </body>
</html>