
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff !important;
}

.content {
    margin-left: 70px; /* Same as the width of the sidebar */
    padding: 20px;
}

#sidebar {
  width: 70px;
  min-height: 100vh;
  position: fixed;
  transition: all 0.3s;
  overflow-x: hidden;
  z-index: 1000;
}

/* Expanded on hover */
#sidebar:hover {
  width: 250px;
}

/* Hide text when collapsed */
.menu-text {
  opacity: 0;
  transition: opacity 0.2s;
}

/* Show text on hover */
#sidebar:hover .menu-text {
    opacity: 1;
}

/* Center icons when collapsed */
.nav-link {
    white-space: nowrap;
}